{% extends 'base.html' %}}
{% load static %}

{% block title %}Failure{% endblock %}

{% block navbar %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">TimeTableGenerator</span>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'courses' %}" class="nav-link">Courses</a></li>
        <li class="nav-item"><a href="{% url 'instructors' %}" class="nav-link">Instructors</a></li>
        <li class="nav-item"><a href="{% url 'rooms' %}" class="nav-link">Rooms</a></li>
        <li class="nav-item"><a href="{% url 'departments' %}" class="nav-link">Departments</a></li>
        <li calss="nav-item"><a href="{% url 'timetables' %}" class="nav-link">Timetables</a></li>
    </ul>
</header>
{% endblock %}

{% block content %}
<div class="container" style="min-height: 70vh;">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="d-flex justify-content-center">
                <h2>Can't generate timetable!</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}